.fbaru-0{
    font-size: 12px;
}
.fbaru-1{
    font-size: 1.8vmax;
}
.roundedbaru{
    border-radius: 1.25rem;
}
.mnew{
    margin-top: 6rem;
}

.pnew{
    margin-top: 0; 
    margin-bottom: 0rem;
}

.w75{
    width: 75%;
}